<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      {{result}}
      <form action="https://ccore.newebpay.com/MPG/mpg_gateway" method="post">
        <input type="text" name="MerchantID" :value=order.MerchantID />
        <input type="text" name="TradeSha" :value="order.TradeSha" />
        <input  type="text" name="TradeInfo" :value="order.TradeInfo"/>
        <input type="text" name="Version" :value=order.Version />
        <!-- <input type="text" name="TimeStamp" :value="order.TimeStamp" /> -->
        
        <!-- <input type="text" name="MerchantOrderNo" :value="order.MerchantOrderNo" />
        <input type="text" name="Amt" :value="order.Amt" />
        <input type="email" name="Email" :value="order.Email" /> -->
        <button type="submit">送出</button>
      </form>
      <button v-on:click="createOrder">取得訂單資訊</button>
    </div>

    <script type="module">
      import { createApp } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.esm-browser.min.js';

      const host = '<%= Host %>';
      const app = {
        data() {
          return {
            order: {},
            purchaseInfo:{
              "event_id": "1dee21b1-a137-4b00-960c-e6c5c036de96",
                "tickets":[
                    {
                        "section_id": "aa93319b-39ef-42b3-bc80-fe56bfaf25f9",
                        "quantity":1
                    }
                    // {
                    //     "section_id": "c21499c1-4adc-4baa-8eea-145026e9312e",
                    //     "quantity":1
                    // }
                ]
            },
            token: '',
            result:{}
          }
        },
        methods: {
          async createOrder() {
            try {
              const url = `${host}`;
              console.log(host)
              const res = await axios.post(url, this.purchaseInfo, {
                headers: {
                  'Authorization': `Bearer ${this.token}`
                }
              });
              console.log(res)
              this.result = res;
              this.order = res.data.data;
            } catch (err) {
              console.log(err)
              this.result = err.response.data.message;
            }
          }
        },
        // async mounted() {
        //     const url = `${host}`;
        //     console.log(this.order);
        //     const res = await axios.post(url, this.order);
        //     this.order = res.data;
        // },
      }
      createApp(app).mount('#app')
    </script>
  </body>
</html>
